# Mixed Logit

The following examples provide step-by-step instructions to estimate mixed logit models using the xlogit package. You can interactively execute the code in this guide by opening it Google Colab using the following link:

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/arteagac/xlogit/blob/master/examples/mixed_logit_model.ipynb)

## Install and import `xlogit` package

Install `xlogit` using `pip` as shown below. In addition, import the package and check if GPU processing is available.

In [ ]:
!pip install xlogit
from xlogit import MixedLogit
MixedLogit.check_if_gpu_available()

Collecting xlogit
  Downloading xlogit-0.2.7-py3-none-any.whl (36 kB)
Requirement already satisfied: numpy>=1.13.1 in /usr/local/lib/python3.10/dist-packages (from xlogit) (1.25.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from xlogit) (1.11.4)
Installing collected packages: xlogit
Successfully installed xlogit-0.2.7
1 GPU device(s) available. xlogit will use GPU processing

True

## Swissmetro Dataset


The swissmetro dataset contains stated-preferences for three alternative transportation modes that include car, train and a newly introduced mode: the swissmetro. This dataset is commonly used for estimation examples with the `Biogeme` and `PyLogit` packages. The dataset is available at http://transp-or.epfl.ch/data/swissmetro.dat and [Bierlaire et. al., (2001)](https://transp-or.epfl.ch/documents/proceedings/BierAxhaAbay01.pdf) provides a detailed discussion of the data as wells as its context and collection process. The explanatory variables in this example include the travel time (`TT`) and cost `CO` for each of the three alternative modes.

### Read data

The dataset is imported to the Python environment using `pandas`. Then, two types of samples, ones with a trip purpose different to commute or business and ones with an unknown choice, are filtered out. The original dataset contains 10,729 records, but after filtering, 6,768 records remain for following analysis. Finally, a new column that uniquely identifies each sample is added to the dataframe and the `CHOICE` column, which originally contains a numerical coding of the choices, is mapped to a description that is consistent with the alternatives in the column names.

In [ ]:
import pandas as pd
import numpy as np

df_wide = pd.read_table("http://transp-or.epfl.ch/data/swissmetro.dat", sep='\t')

# Keep only observations for commute and business purposes that contain known choices
df_wide = df_wide[(df_wide['PURPOSE'].isin([1, 3]) & (df_wide['CHOICE'] != 0))]

df_wide['custom_id'] = np.arange(len(df_wide))  # Add unique identifier
df_wide['CHOICE'] = df_wide['CHOICE'].map({1: 'TRAIN', 2:'SM', 3: 'CAR'})
df_wide

,GROUP,SURVEY,SP,ID,PURPOSE,FIRST,TICKET,WHO,LUGGAGE,AGE,...,TRAIN_CO,TRAIN_HE,SM_TT,SM_CO,SM_HE,SM_SEATS,CAR_TT,CAR_CO,CHOICE,custom_id
0,2,0,1,1,1,0,1,1,0,3,...,48,120,63,52,20,0,117,65,SM,0
1,2,0,1,1,1,0,1,1,0,3,...,48,30,60,49,10,0,117,84,SM,1
2,2,0,1,1,1,0,1,1,0,3,...,48,60,67,58,30,0,117,52,SM,2
3,2,0,1,1,1,0,1,1,0,3,...,40,30,63,52,20,0,72,52,SM,3
4,2,0,1,1,1,0,1,1,0,3,...,36,60,63,42,20,0,90,84,SM,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8446,3,1,1,939,3,1,7,3,1,5,...,13,30,50,17,30,0,130,64,TRAIN,6763
8447,3,1,1,939,3,1,7,3,1,5,...,12,30,53,16,10,0,80,80,TRAIN,6764
8448,3,1,1,939,3,1,7,3,1,5,...,16,60,50,16,20,0,80,64,TRAIN,6765
8449,3,1,1,939,3,1,7,3,1,5,...,16,30,53,17,30,0,80,104,TRAIN,6766
8450,3,1,1,939,3,1,7,3,1,5,...,13,60,53,21,30,0,100,80,TRAIN,6767

### Reshape data

The imported dataframe is in wide format, and it needs to be reshaped to long format for processing by `xlogit`, which offers the convenient `wide_to_long` utility for this reshaping process. The user needs to specify the column that uniquely identifies each sample, the names of the alternatives, the columns that vary across alternatives, and whether the alternative names are a prefix or suffix of the column names. Additionally, the user can specify a value (`empty_val`) to be used by default when an alternative is not available for a certain variable. Additional usage examples for the `wide_to_long` function are available in xlogit's documentation at https://xlogit.readthedocs.io/en/latest/notebooks/convert_data_wide_to_long.html. Also, details about the function parameters are available at the [API reference ](https://xlogit.readthedocs.io/en/latest/api/utils.html#xlogit.utils.wide_to_long).

In [ ]:
from xlogit.utils import wide_to_long

df = wide_to_long(df_wide, id_col='custom_id', alt_name='alt', sep='_',
                  alt_list=['TRAIN', 'SM', 'CAR'], empty_val=0,
                  varying=['TT', 'CO', 'HE', 'AV', 'SEATS'], alt_is_prefix=True)
df

,custom_id,alt,TT,CO,HE,AV,SEATS,GROUP,SURVEY,SP,...,TICKET,WHO,LUGGAGE,AGE,MALE,INCOME,GA,ORIGIN,DEST,CHOICE
0,0,TRAIN,112,48,120,1,0,2,0,1,...,1,1,0,3,0,2,0,2,1,SM
1,0,SM,63,52,20,1,0,2,0,1,...,1,1,0,3,0,2,0,2,1,SM
2,0,CAR,117,65,0,1,0,2,0,1,...,1,1,0,3,0,2,0,2,1,SM
3,1,TRAIN,103,48,30,1,0,2,0,1,...,1,1,0,3,0,2,0,2,1,SM
4,1,SM,60,49,10,1,0,2,0,1,...,1,1,0,3,0,2,0,2,1,SM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20299,6766,SM,53,17,30,1,0,3,1,1,...,7,3,1,5,1,2,0,1,2,TRAIN
20300,6766,CAR,80,104,0,1,0,3,1,1,...,7,3,1,5,1,2,0,1,2,TRAIN
20301,6767,TRAIN,108,13,60,1,0,3,1,1,...,7,3,1,5,1,2,0,1,2,TRAIN
20302,6767,SM,53,21,30,1,0,3,1,1,...,7,3,1,5,1,2,0,1,2,TRAIN
20303,6767,CAR,100,80,0,1,0,3,1,1,...,7,3,1,5,1,2,0,1,2,TRAIN

### Create model specification

Following the reshaping, users can create or update the dataset's columns in order to accommodate their model specification needs, if necessary. The code below shows how the columns `ASC_TRAIN` and `ASC_CAR` were created to incorporate alternative-specific constants in the model. In addition, the example illustrates an effective way of establishing variable interactions (e.g., trip costs for commuters with an annual pass) by updating existing columns conditional on values of other columns. Although apparently simple, column operations provide users with an intuitive and highly-flexible mechanism to incorporate model specification aspects, such as variable transformations, interactions, and alternative specific coefficients and constants. By operating the dataframe columns, any utility specification can be accommodated in `xlogit`. As shown in [this specification example](https://xlogit.readthedocs.io/en/latest/notebooks/multinomial_model.html#Create-model-specification), highly-flexible utility specifications can be modeled in `xlogit` by operating the dataframe columns.

In [ ]:
# Scale travel time and headway variables to hours
df['time'] = df['TT'] / 60.0
df['headway'] = df['HE'] / 60.0
df['cost'] = df['CO'] / 100.0

# We set the cost as zero for individuals with an annual pass paid by employer
annual_pass = (df['alt'].isin(['TRAIN', 'SM'])) & ((df["GA"] == 1) | (df["WHO"] == 2))
df["cost"] = df["cost"] * (~annual_pass)

#Travellers carrying only single luggage
df["single_luggage"] = (df["LUGGAGE"] == 1).astype(int)

#Travellers carrying more than one luggage
df["multiple_luggage"] = (df["LUGGAGE"] == 3).astype(int)

# Travellers travelling in classes other than First class
df["regular_class"] = 1 - df["FIRST"]

# Travellers who responded to the survey while on a train
df["train_survey"] = 1 - df["SURVEY"]
df

,custom_id,alt,TT,CO,HE,AV,SEATS,GROUP,SURVEY,SP,...,ORIGIN,DEST,CHOICE,time,headway,cost,single_luggage,multiple_luggage,regular_class,train_survey
0,0,TRAIN,112,48,120,1,0,2,0,1,...,2,1,SM,1.866667,2.000000,0.48,0,0,1,1
1,0,SM,63,52,20,1,0,2,0,1,...,2,1,SM,1.050000,0.333333,0.52,0,0,1,1
2,0,CAR,117,65,0,1,0,2,0,1,...,2,1,SM,1.950000,0.000000,0.65,0,0,1,1
3,1,TRAIN,103,48,30,1,0,2,0,1,...,2,1,SM,1.716667,0.500000,0.48,0,0,1,1
4,1,SM,60,49,10,1,0,2,0,1,...,2,1,SM,1.000000,0.166667,0.49,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20299,6766,SM,53,17,30,1,0,3,1,1,...,1,2,TRAIN,0.883333,0.500000,0.17,1,0,0,0
20300,6766,CAR,80,104,0,1,0,3,1,1,...,1,2,TRAIN,1.333333,0.000000,1.04,1,0,0,0
20301,6767,TRAIN,108,13,60,1,0,3,1,1,...,1,2,TRAIN,1.800000,1.000000,0.13,1,0,0,0
20302,6767,SM,53,21,30,1,0,3,1,1,...,1,2,TRAIN,0.883333,0.500000,0.21,1,0,0,0
20303,6767,CAR,100,80,0,1,0,3,1,1,...,1,2,TRAIN,1.666667,0.000000,0.80,1,0,0,0

In [ ]:
# Create model specification
# Alternative Specific Constants
df['asc_train'] = np.ones(len(df))*(df['alt'] == 'TRAIN')
df['asc_sm'] = np.ones(len(df))*(df['alt'] == 'SM')

# Travel cost (One coefficient per alternative)
df['cost_train'] = df['cost']*(df['alt'] == 'TRAIN')
df['cost_sm'] = df['cost']*(df['alt'] == 'SM')
df['cost_car'] = df['cost']*(df['alt'] == 'CAR')

# Travel time (One coefficient for train and sm and other for car)
df['time_train_sm'] = df['time']*((df['alt'] == 'TRAIN') | (df['alt'] == 'SM'))

df['time_car'] = df['time']*(df['alt'] == 'CAR')

# Headway (One coefficient per alternative, except for car)
df['headway_train'] = df['headway']*(df['alt'] == 'TRAIN')
df['headway_sm'] = df['headway']*(df['alt'] == 'SM')

# Seat config (Coefficient only for swissmetro)
df['seatconf_sm'] = df['SEATS']*(df['alt'] == 'SM')

# Train Survey (Coefficient only for swissmetro)
df['survey_train_sm'] = df['train_survey']* ((df['alt'] == 'TRAIN') | (df['alt'] == 'SM'))

# Regular class (Coefficient only for swissmetro)
df['regular_class_sm'] = df['regular_class']*(df['alt'] == 'TRAIN')

# Luggage (Coefficient only for car)
df['single_lug_car'] = df['single_luggage']*(df['alt'] == 'CAR')
df['multip_lug_car'] = df['multiple_luggage']*(df['alt'] == 'CAR')

In [ ]:
# Create model specification
# Alternative Specific Constants
df['asc_train'] = np.ones(len(df))*(df['alt'] == 'TRAIN')
df['asc_sm'] = np.ones(len(df))*(df['alt'] == 'SM')
# Travel cost (One coefficient per alternative)
df['cost_train'] = df['cost']*(df['alt'] == 'TRAIN')
df['cost_sm'] = df['cost']*(df['alt'] == 'SM')
df['cost_car'] = df['cost']*(df['alt'] == 'CAR')

# Travel time (One coefficient for train and sm and other for car)
df['time_train'] = df['time']*(df['alt'] == 'TRAIN')
df['time_sm'] = df['time']*(df['alt'] == 'SM')
df['time_car'] = df['time']*(df['alt'] == 'CAR')

# Headway (One coefficient per alternative, except for car)
df['headway_train'] = df['headway']*(df['alt'] == 'TRAIN')
df['headway_sm'] = df['headway']*(df['alt'] == 'SM')

# Seat config (Coefficient only for swissmetro)
df['seatconf_sm'] = df['SEATS']*(df['alt'] == 'SM')

# Train Survey (Coefficient only for swissmetro)
df['survey_train_sm'] = df['train_survey']* ((df['alt'] == 'TRAIN') | (df['alt'] == 'SM'))

# Regular class (Coefficient only for swissmetro)
df['regular_class_sm'] = df['regular_class']*(df['alt'] == 'TRAIN')

# Luggage (Coefficient only for car)
df['single_lug_car'] = df['single_luggage']*(df['alt'] == 'CAR')
df['multip_lug_car'] = df['multiple_luggage']*(df['alt'] == 'CAR')

In [ ]:
# df['ASC_TRAIN'] = np.ones(len(df))*(df['alt'] == 'TRAIN')
# df['ASC_CAR'] = np.ones(len(df))*(df['alt'] == 'CAR')
# df['TT'], df['CO'] = df['TT']/100, df['CO']/100  # Scale variables
# annual_pass = (df['GA'] == 1) & (df['alt'].isin(['TRAIN', 'SM']))
# df.loc[annual_pass, 'CO'] = 0  # Cost zero for pass holders

### Estimate model parameters

The `fit` method estimates the model by taking as input the data from the previous step along with additional specification criteria, such as the distribution of the random parameters (`randvars`), the number of random draws (`n_draws`), and the availability of alternatives for the choice situations (`avail`). We set the optimization method as `L-BFGS-B` as this is a robust routine that usually helps solve convergence issues.  Once the estimation routine is completed, the `summary` method can be used to display the estimation results.

In [ ]:
from xlogit import MixedLogit
varnames=['asc_train', 'asc_sm', 'time_train', 'time_sm', 'time_car', 'cost_train',
          'cost_sm', 'cost_car', 'headway_train', 'headway_sm', 'seatconf_sm',
          'survey_train_sm', 'regular_class_sm', 'single_lug_car',
          'multip_lug_car']
model = MixedLogit()
model.fit(X=df[varnames],
          y=df['CHOICE'],
          varnames=varnames,
          alts=df['alt'],
          ids=df['custom_id'],
          avail=df['AV'],
          panels=df["ID"],
          randvars={'time_train': 'n', 'time_sm':'n','time_car': 'n'},
          n_draws=1500,
          optim_method='L-BFGS-B')
model.summary()

GPU processing enabled.
Optimization terminated successfully.
    Message: CONVERGENCE: REL_REDUCTION_OF_F_<=_FACTR*EPSMCH
    Iterations: 97
    Function evaluations: 111
Estimation time= 113.0 seconds
---------------------------------------------------------------------------
Coefficient              Estimate      Std.Err.         z-val         P>|z|
---------------------------------------------------------------------------
asc_train              -2.4602751     0.5321511    -4.6232641      3.85e-06 ***
asc_sm                 -2.2195079     0.3413109    -6.5028924      8.44e-11 ***
time_train             -3.7188480     0.2199537   -16.9074124      7.63e-63 ***
time_sm                -3.6041421     0.2402313   -15.0027979      4.46e-50 ***
time_car               -3.1415506     0.1474559   -21.3050142      1.54e-97 ***
cost_train             -1.9999423     0.3236935    -6.1785061      6.85e-10 ***
cost_sm                -1.4868925     0.1864537    -7.9745954      1.78e-15 ***
cost_car               -2.1607946     0.2227064    -9.7024372       4.1e-22 ***
headway_train          -0.4560341     0.0987664    -4.6173022      3.96e-06 ***
headway_sm             -1.0211585     0.2759298    -3.7007913      0.000217 ***
seatconf_sm            -0.6656701     0.1540300    -4.3216911      1.57e-05 ***
survey_train_sm         5.0302930     0.3340163    15.0600212      1.93e-50 ***
regular_class_sm        1.1883729     0.3241856     3.6657181      0.000249 ***
single_lug_car          0.7007933     0.2626182     2.6684870       0.00764 **
multip_lug_car          1.9314906     0.8804916     2.1936503        0.0283 *
sd.time_train           1.4414364     0.0993518    14.5084026      5.41e-47 ***
sd.time_sm              1.8228035     0.1282875    14.2087379      3.59e-45 ***
sd.time_car             0.8815386     0.0437138    20.1661206      7.12e-88 ***
---------------------------------------------------------------------------
Significance:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Log-Likelihood= -3699.759
AIC= 7435.518
BIC= 7558.278

In [ ]:
from xlogit import MixedLogit
varnames=['asc_train', 'asc_sm', 'time_train_sm', 'time_car', 'cost_train',
          'cost_sm', 'cost_car', 'headway_train', 'headway_sm', 'seatconf_sm',
          'survey_train_sm', 'regular_class_sm', 'single_lug_car',
          'multip_lug_car']
model = MixedLogit()
model.fit(X=df[varnames],
          y=df['CHOICE'],
          varnames=varnames,
          alts=df['alt'],
          ids=df['custom_id'],
          avail=df['AV'],
          panels=df["ID"],
          randvars={'time_train_sm': 'n', 'time_car': 'n'},
          n_draws=1500,
          optim_method='L-BFGS-B')
model.summary()

GPU processing enabled.
Optimization terminated successfully.
    Message: CONVERGENCE: REL_REDUCTION_OF_F_<=_FACTR*EPSMCH
    Iterations: 96
    Function evaluations: 109
Estimation time= 81.9 seconds
---------------------------------------------------------------------------
Coefficient              Estimate      Std.Err.         z-val         P>|z|
---------------------------------------------------------------------------
asc_train              -2.6512858     0.5160897    -5.1372579      2.87e-07 ***
asc_sm                 -2.8361850     0.4168501    -6.8038487      1.11e-11 ***
time_train_sm          -3.5433134     0.2189289   -16.1847640      7.79e-58 ***
time_car               -4.1890838     0.1988197   -21.0697608      1.67e-95 ***
cost_train             -4.2478221     0.4053027   -10.4806171      1.66e-25 ***
cost_sm                -2.7432884     0.2486363   -11.0333397      4.57e-28 ***
cost_car               -2.9687530     0.2437387   -12.1800645      8.94e-34 ***
headway_train          -0.4602198     0.0906998    -5.0740991         4e-07 ***
headway_sm             -1.0814773     0.2742113    -3.9439560       8.1e-05 ***
seatconf_sm            -0.5918300     0.1364511    -4.3373044      1.46e-05 ***
survey_train_sm         5.2143260     0.4821355    10.8150625      4.86e-27 ***
regular_class_sm        0.6211679     0.1960884     3.1677959       0.00154 **
single_lug_car          0.8833470     0.3943789     2.2398433        0.0251 *
multip_lug_car          2.1603961     0.9496666     2.2748996        0.0229 *
sd.time_train_sm        2.7558560     0.1380437    19.9636522      3.33e-86 ***
sd.time_car             1.9328328     0.0893387    21.6348981        2e-100 ***
---------------------------------------------------------------------------
Significance:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Log-Likelihood= -3761.443
AIC= 7554.885
BIC= 7664.004

In [ ]:
from xlogit import MixedLogit
varnames=['asc_train', 'asc_sm', 'time_train_sm', 'time_car', 'cost_train',
          'cost_sm', 'cost_car', 'headway_train', 'headway_sm', 'seatconf_sm',
          'survey_train_sm', 'regular_class_sm', 'single_lug_car',
          'multip_lug_car']
model = MixedLogit()
model.fit(X=df[varnames],
          y=df['CHOICE'],
          varnames=varnames,
          alts=df['alt'],
          ids=df['custom_id'],
          avail=df['AV'],
          panels=df["ID"],
          randvars={'time_train_sm': 'u', 'time_car': 'u'},
          n_draws=1500,
          optim_method='L-BFGS-B')
model.summary()

GPU processing enabled.
Optimization terminated successfully.
    Message: CONVERGENCE: REL_REDUCTION_OF_F_<=_FACTR*EPSMCH
    Iterations: 69
    Function evaluations: 74
Estimation time= 82.6 seconds
---------------------------------------------------------------------------
Coefficient              Estimate      Std.Err.         z-val         P>|z|
---------------------------------------------------------------------------
asc_train              -1.7200344     0.5215918    -3.2976637       0.00098 ***
asc_sm                 -2.3565805     0.4384186    -5.3751843      7.91e-08 ***
time_train_sm          -4.1552127     0.2534804   -16.3926387      2.96e-59 ***
time_car               -4.2497950     0.2195137   -19.3600480      2.57e-81 ***
cost_train             -4.4188079     0.3691890   -11.9689586       1.1e-32 ***
cost_sm                -2.7771904     0.2398600   -11.5783792      1.03e-30 ***
cost_car               -3.2035364     0.2525415   -12.6851893      1.85e-36 ***
headway_train          -0.4192441     0.0875088    -4.7908773       1.7e-06 ***
headway_sm             -1.0902762     0.2733656    -3.9883443      6.72e-05 ***
seatconf_sm            -0.6128962     0.1338751    -4.5781180      4.78e-06 ***
survey_train_sm         4.2272153     0.5041457     8.3849081      6.12e-17 ***
regular_class_sm        0.3478338     0.1833754     1.8968398        0.0579 .
single_lug_car          0.5370716     0.4564415     1.1766492         0.239
multip_lug_car          2.2386582     1.0066568     2.2238545        0.0262 *
sd.time_train_sm        5.2284355     0.2620739    19.9502360      4.29e-86 ***
sd.time_car             4.2204566     0.2138090    19.7393748      2.26e-84 ***
---------------------------------------------------------------------------
Significance:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Log-Likelihood= -3812.676
AIC= 7657.353
BIC= 7766.472

In [ ]:
from xlogit import MixedLogit
varnames=['asc_train', 'asc_sm', 'time_train_sm', 'time_car', 'cost_train',
          'cost_sm', 'cost_car', 'headway_train', 'headway_sm', 'seatconf_sm',
          'survey_train_sm', 'regular_class_sm', 'single_lug_car',
          'multip_lug_car']
model = MixedLogit()
model.fit(X=df[varnames],
          y=df['CHOICE'],
          varnames=varnames,
          alts=df['alt'],
          ids=df['custom_id'],
          avail=df['AV'],
          panels=df["ID"],
          randvars={'time_car': 'n'},
          n_draws=1500,
          optim_method='L-BFGS-B')
model.summary()

GPU processing enabled.
Optimization terminated successfully.
    Message: CONVERGENCE: REL_REDUCTION_OF_F_<=_FACTR*EPSMCH
    Iterations: 79
    Function evaluations: 86
Estimation time= 56.4 seconds
---------------------------------------------------------------------------
Coefficient              Estimate      Std.Err.         z-val         P>|z|
---------------------------------------------------------------------------
asc_train              -5.4373560     0.3982463   -13.6532498       6.9e-42 ***
asc_sm                 -4.8600582     0.3692878   -13.1606232      4.45e-39 ***
time_train_sm          -0.9552519     0.0657250   -14.5340651      3.76e-47 ***
time_car               -3.2108039     0.1697851   -18.9109904      9.12e-78 ***
cost_train             -2.3456985     0.2545032    -9.2167741      4.01e-20 ***
cost_sm                -1.7353815     0.1899957    -9.1337933      8.59e-20 ***
cost_car               -1.6256920     0.2075796    -7.8316560      5.55e-15 ***
headway_train          -0.3297651     0.0634004    -5.2013130      2.04e-07 ***
headway_sm             -0.6722847     0.2291111    -2.9343179       0.00335 **
seatconf_sm            -0.8043152     0.0915054    -8.7898138      1.88e-18 ***
survey_train_sm         6.3765976     0.4033208    15.8102394      2.56e-55 ***
regular_class_sm        0.5101349     0.0798138     6.3915597      1.75e-10 ***
single_lug_car          1.2559236     0.2908567     4.3180152       1.6e-05 ***
multip_lug_car          2.8247408     0.8442845     3.3457214      0.000825 ***
sd.time_car             1.6916693     0.1024355    16.5144840      4.28e-60 ***
---------------------------------------------------------------------------
Significance:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Log-Likelihood= -4443.121
AIC= 8916.242
BIC= 9018.542